Accepting invalid email id

Accepting invalid email id for add patron
![Screenshot 2022-04-16 at 2.38.18 PM.png](https://raw.githubusercontent.com/rahulprasad01/pe/main/files/06e798c2-6283-450c-acaa-77807909c8c5.png)


<!--session: 1650087693158-ecd74270-a415-44b4-9cdd-1a054ac2c679--><!--Version: Web v3.4.2-->

# Team's Response
This is an duplicate issue from issue #325 because it is an regex issue. This is because under the current implementation, there is a validation regex check for domain names (examples of domains are gmail.com, gmail (without .com) and nus.edu.sg). Issue #325 is stating that we can input an email with invalid domain, which is same as this issue. Solving one issue (if it is indeed an issue) will automatically solve another issue because the regex is solved.

Apart for explanation for duplicate, we also think that this bug report is more invalid as compared to #325. The following justifications are only for this bug report, but not for #325:

This bug report seems to suggest that "i@gail.com" is invalid because there is no gail.com as email. However, firstly, the official email standard states that domain names may contain both upper and lowercase letters and digits as shown in issue #325 justification. Secondly, it is not possible for us to check for all domain names without actually sending an email to the domain or using external APIs, especially since new domains are constantly being created. For example, several years ago gmail did not exist and yahoo was the primary domain for sending emails. Similarly, one cannot say with certainty if in the next few years gail will not be considered as a valid email domain.

## The 'Original' Bug

[The team marked this bug as a duplicate of the following bug]

># Top level domain is not required in emails (e.g. .com)
>
>![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2122S2/pe/master/files/4f7df2f7-06d9-4f76-9966-206338d4b024.png)
>
>A valid email requires three parts - local@global.highleveldomain
>
>An email without the high level domain can be added.
>
>
>
>
><hr>
><sub>[original: nus-cs2103-AY2122S2/pe-interim#217] [original labels: type.FunctionalityBug severity.Medium]</sub>
>
>
><!--session: 1650087638623-2fac61a1-97b1-44cd-a81a-722d47abe495--><!--Version: Web v3.4.2-->

## Their Response to the 'Original' Bug

[This is the team's response to the above 'original' bug]

>This is not a bug. Based on the email standard as explained below, a@domainsample is a valid email.
>
>Referring to official email standard specifications from [RFC 5321 Section 2.3.5](https://datatracker.ietf.org/doc/html/rfc5321#section-2.3.5), domain names may be dotless, or in other words, does not require a subdomain component. This may be the case for TLD level email addresses or local networks where domains are likewise dotless. In particular, the document states the following
>
>"A domain name (or often just a "domain") consists of one or more components, separated by dots if more than one appears. In the case of a top-level domain used by itself in an email address, a single string is used without any dots."
>
>This is also supported by the article on email on [Wikipedia](https://en.wikipedia.org/wiki/Email_address#Examples) , which indicates that the email address without a dot is valid. Screenshot  is shown below
>
>![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2122S2/pe/master/files/c5a79db5-fa96-42df-88f3-76b3745809f1.png)


# Items for the Tester to Verify
## :question: Issue duplicate status

Team chose to mark this issue as a duplicate of another issue (as explained in the _**Team's response**_ above)



- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

-------------------
## :question: Issue response

Team chose [`response.Rejected`]



- [x] I disagree

**Reason for disagreement:** I disagree as this will result in invalid inputs. Also if new email domains come up in the future , the team can just update the product.

-------------------
## :question: Issue type

Team chose [`type.FunctionalityBug`]
Originally [`type.FeatureFlaw`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

-------------------
